<ul class="list-group list-group-flush" id="list">
  <li class="list-group-item"><a href="/the-reddits" id="essay-link">The Reddits</a></li>
  <li class="list-group-item"><a href="/the-best-essay" id="essay-link">The Best Essay</a></li>
  <li class="list-group-item"><a href="/how-to-do-great-work" id="essay-link">How to Do Great Work</a></li>
  <li class="list-group-item"><a href="/the-need-to-read" id="essay-link">The Need to Read</a></li>
  <li class="list-group-item"><a href="/alien-truth" id="essay-link">Alien Truth</a></li>
  <li class="list-group-item"><a href="/heresy" id="essay-link">Heresy</a></li>
  <li class="list-group-item"><a href="/is-there-such-a-thing-as-good-taste" id="essay-link">Is There Such a Thing as Good Taste?</a></li>
  <li class="list-group-item"><a href="/weird-languages" id="essay-link">Weird Languages</a></li>
  <li class="list-group-item"><a href="/a-project-of-ones-own" id="essay-link">A Project of One's Own</a></li>
  <li class="list-group-item"><a href="/crazy-new-ideas" id="essay-link">Crazy New Ideas</a></li>
  <li class="list-group-item"><a href="/the-real-reason-to-end-the-death-penalty" id="essay-link">The Real Reason to End the Death Penalty</a></li>
  <li class="list-group-item"><a href="/write-simply" id="essay-link">Write Simply</a></li>
  <li class="list-group-item"><a href="/donate-unrestricted" id="essay-link">Donate Unrestricted</a></li>
  <li class="list-group-item"><a href="/earnestness" id="essay-link">Earnestness</a></li>
  <li class="list-group-item"><a href="/the-airbnbs" id="essay-link">The Airbnbs</a></li>
  <li class="list-group-item"><a href="/early-work" id="essay-link">Early Work</a></li>
  <li class="list-group-item"><a href="/the-four-quadrants-of-conformism" id="essay-link">The Four Quadrants of Conformism</a></li>
  <li class="list-group-item"><a href="/coronavirus-and-credibility" id="essay-link">Coronavirus and Credibility</a></li>
  <li class="list-group-item"><a href="/being-a-noob" id="essay-link">Being a Noob</a></li>
  <li class="list-group-item"><a href="/the-two-kinds-of-moderate" id="essay-link">The Two Kinds of Moderate</a></li>
  <li class="list-group-item"><a href="/having-kids" id="essay-link">Having Kids</a></li>
  <li class="list-group-item"><a href="/novelty-and-heresy" id="essay-link">Novelty and Heresy</a></li>
  <li class="list-group-item"><a href="/general-and-surprising" id="essay-link">General and Surprising</a></li>
  <li class="list-group-item"><a href="/the-risk-of-discovery" id="essay-link">The Risk of Discovery</a></li>
  <li class="list-group-item"><a href="/life-is-short" id="essay-link">Life is Short</a></li>
</ul>

