<%- include("partials/navbar.ejs") %>
<div id="heading"><h1>About Me</h1></div>
<div class="about-all">
    <div id="about-area">
        <img src="images/cat.jpeg" alt="my photo" id="photo">
      <p>Hello My Name Is Chaitanya Raut, a Student Of Computer Engineering. I have created this Mock webiste consisting Essays From the Book <strong>Hackers and Painters: Big Ideas from the Computer Age</strong> By Paul Graham. I have Utilized The Front-End as Well AS The Back-End in This Website</p> 
      <p>The Website I have Made is using <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>Express.js</li>
      </ul></p> 
    </div>
</div>



<%- include("partials/footer.ejs")%>