<%- include("partials/navbar.ejs") %>
<div id="heading"><h1>Contact</h1></div>
<form id="form">
    <input name="name" type="text" class="feedback-input" placeholder="Name" >
    <input name="email" type="text" class="feedback-input" placeholder="Email" >
    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
    <input type="submit" value="SUBMIT" id="subbtn" >
  </form>

<%- include("partials/footer.ejs")%>