<%- include("partials/navbar.ejs") %>
<div class="content">
  <%- include("partials/list.ejs") %>
  <div class="written-content">
    <img src="images/book.jpg" alt="imageshome1" id="pic2">
    <img src="images/imghome2.jpg" alt="imageshome2" id="pic">
  </div>
</div>

<%- include("partials/footer.ejs")%>